#heading{
    display:flex;
}
.nav{
    margin: 0;
    margin-bottom: 1px;
    top:0;
    background-color: grey;
    position: fixed;
    overflow: none;
    width:100%;
    height:auto;
    position: relative;
}
.nav a {
    display: inline-block;
    color: white;
    background-color: grey;
    padding: 16px;
    text-decoration: none;
}
.nav a:hover{
    background:blue;
}
@media screen and (max-width: 1800px)
{
    .nav{
        width:100%;
        height:100%;
        position: relative;
    }
    div.content{margin-left:0;
    margin-right:0;
}
}

@media screen and (max-width: 1000px)
{

    .nav a {
        text-align: center;
        float: none;
        width:100%;
        height: auto;
        position: relative;
    }
}
#chart{
    width:100%;
    max-width:900px;
    height:600px;
}
body>section>h1,h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body > section>p{
    display:flex;
    font-family: sans-serif;
}
body{
    overflow:scroll;
}
img{
    display:flex;
    width:50%;
    height:50%;
}

#icon{
    display:flex;
}

